*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
/* header part css */
.banner{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.tittle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.tittle h2{
    color:#fff;
    font-size: 47px;
}
.button{
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn{
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    border-radius: 6px;
    transition: 0.5s ease;
}
.btn:hover{
    background: #0f0f0f;
   color: #fff;
}

/* content part css */
.content_top{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffffe2;
    position: relative;
    overflow: hidden;
    padding: 80px 0;
}
.half_width{
    width: 40%;
}
.half_width img {
    width: 100%;
    height: 100%;
    padding: 0px 50px
}
.text_head h3{
    font-size: 25px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
}
.text_head h2{
    font-size: 29px;
    margin: 26px 0px;
    font-family: 'Open Sans', sans-serif;
}
.text_head p{
    font-size: 19px;
    line-height: 25px;
    text-align: justify;
    color: #1f1c1cc7;
    font-family: 'Open Sans', sans-serif;
    padding-right: 20px;
}
.text_head .list {
    margin: 25px 0;
    color: #000000d1;
    line-height: 26px;
}
.text_top ul li{
    font-size: 19px;
    line-height: 25px;
    text-align: justify;
    color: #1f1c1cc7;
    font-family: 'Open Sans', sans-serif;
}
.text_head .btn{
    padding: 15px 50px;
    background: rgb(29 147 0 / 55%);
    color: #ffffff;
    font-weight: 700;
    border: none;
    margin-top: 24px;
}
.text_head .btn:hover{
    background: rgba(38, 39, 1, 0.914);
    color: #f1f1f1;
}
/* form area css*/
.form_area{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: #e9faffe2;
    position: relative;
    padding: 80px 0;
    text-align: center;
}
.heading{
    margin-bottom: 40px;
}
.heading h1{
    text-align: center;
    font-size: 40px;
}

.pera{
    margin-bottom: 40px;
}
.input_area input{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-left: 60px;
    flex-direction: column;
    width: 80%;
    padding: 15px 20px;
    margin-bottom: 30px;
    background: #04670c1a;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}
.input_area .btn{
    padding: 15px 30px;
    background: rgb(8 135 0 / 54%);
    color: #ffffff;
    font-weight: 700;
    border: none;
}
.input_area .btn:hover{
    background: rgba(1, 136, 136, 0.8);
    color: #f1f1f1;
}
/*Survice Area css*/
.survice_area{
    width: 100%;
    position: relative;
    padding: 80px 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.survice_area img{
    width: 100%;
    border-radius: 50%;
    height: 100%;
    overflow: hidden;
}
.survice_box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.survice_item{
    width: 300px;
    margin: 80px 40px;
    height: 300px
}
.survice_text .imge {
    width: 10%;
    height: 10%;

}
.survice_text h2{
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    letter-spacing: 5px;
}
.survice_item p{
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 35px;
    letter-spacing: 2px;
    color: #1a1818f0;
   
}
.survice_area .btn{
    padding: 20px 60px;
    background-color: #fff;
    border: 0.5px solid #060606;
    color: #383838;
    font-size: 15px;
    margin-top: 55px
}
.survice_area .btn:hover{
    border:none;
    background-color: rgba(16, 191, 0, 0.617);
    color: #fff;
}
/* bottom content css*/
.bottom_content{
    display: flex;
    justify-items: center;
    align-items: center;
}
.half_width{
    width: 50%;
    height: 650px;
}
.half_width .ppk{
padding: none;
}
.bottom_content .text_top{
    background-color: #7ab16a58;
}
.text_top h2{
    text-align: center;
    margin: 50px 0;
    font-weight: 500;
    font-size: 35px
}
.text_top p{
    font-size: 17px;
    line-height: 27px;
    text-align: center;
    padding: 30px;
}
.text_top .btn{
    padding: 20px 60px;
    background-color: #fff;
    border: 0.5px solid;
    font-size: 16px;
    margin-top: 90px;
    margin-left: 125px;
}


.text_bottom h2{
    text-align: center;
    margin: 50px 0;
    font-weight: 500;
    font-size: 35px
}
.text_bottom p{
    font-size: 17px;
    line-height: 27px;
    text-align: left;
    padding: 50px;
    margin-top: 40px;
}
.text_bottom .btn{
    padding: 20px 60px;
    background-color: #f5f5f5;
    border: 0.5px solid;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 220px;
    border: 1px solid black;
    color: #282727;
    
}
.text_bottom .btn:hover{
    background-color: #01d0eb9a;
    border: none;
    border: 1px solid rgba(27, 27, 27, 0.755);
}

/*therapy Mind css*/
.therapy{
    padding: 120px 0;
    background-color: #355b413c;
}
.therapy h2{
    font-size: 50px;
    letter-spacing: 7px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
/* footer css*/
.footer{
    padding: 50px 0;
    background-color: #6401013a;
    display: flex;
    align-items: center;
   
}
.footer .logo img{
    height: 80px;
    width: 80px;
    margin-left: 50px;
}
.menue ul{
    display: flex;
    margin-left: 50px;
    justify-content: right;
    margin-left: 200px;

}
.menue ul li{
    list-style-type: none;
    margin-left: 50px;
}
.menue ul li a{
    text-decoration: none;
    font-size: 15px;
    color: #0f0f0fc9;
    text-align: right;
}
