*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
/* header part css */
.banner{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.tittle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.tittle h2{
    color:#fff;
    font-size: 60px;
}
.button{
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn{
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    border-radius: 6px;
    transition: 0.5s ease;
}
.btn:hover{
    background: #0f0f0f;
   color: #fff;
}

/* content part css */
.content_top{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9faffe2;
    position: relative;
    overflow: hidden;
    padding: 80px 0;
}
.half_width{
    width: 40%;
}
.half_width img {
    width: 80%;
    height: 100%;
}
.text_top h3{
    font-size: 30px;
    margin-bottom: 10px;
}
.text_top h2{
    font-size: 30px;
    margin: 20px 0px;
}
.text_top p{
    font-size: 19px;
    line-height: 25px;
    text-align: justify;
    color: #1f1c1cc7;
    font-family: 'Open Sans', sans-serif;
}
.text_top .list {
    list-style-type: circle;
    margin: 25px 0;
}
.text_top ul li{
    font-size: 19px;
    line-height: 25px;
    text-align: justify;
    color: #1f1c1cc7;
    font-family: 'Open Sans', sans-serif;
}
.text_top .btn{
    padding: 10px 30px;
    background: rgba(219, 222, 7, 0.914);
    color: #0f0f0f;
    font-weight: 700;
}
.text_top .btn:hover{
    background: rgba(38, 39, 1, 0.914);
    color: #f1f1f1;
}
/* form area css*/
.form_area{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: #41636e4a;
    position: relative;
    padding: 80px 0;
    text-align: center;
}
.heading{
    margin-bottom: 40px;
}
.heading h1{
    text-align: center;
    font-size: 40px;
}
.half_width p{
    font-size: 20px;
    text-align: center;
}
.pera{
    margin-bottom: 40px;
}
.input_area input{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-left: 60px;
    flex-direction: column;
    width: 80%;
    padding: 15px 20px;
    margin-bottom: 30px;
    background: #04670c1a;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}
.btn{
    padding: 10px 30px;
    background: rgba(3, 161, 66, 0.918);
    color: #0f0f0f;
    font-weight: 700;
    border: none;
}
.text_top .btn:hover{
    background: rgba(38, 39, 1, 0.914);
    color: #f1f1f1;
}
/*Survice Area css*/
.survice_area{
    width: 100%;
    background-color: #e9faffe2;
    position: relative;
    padding: 80px 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.survice_area img{
    width: 100%;
    border-radius: 50%;
    height: 300px;
    overflow: hidden;
}
.survice_box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.survice_item{
    width: 350px;
    margin: 80px 40px;
}
.survice_text .imge {
    width: 10%;
    height: 10%;

}
.survice_text h2{
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    letter-spacing: 5px;
}
.survice_item p{
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 35px;
    letter-spacing: 2px;
    color: #1a1818f0;
   
}
.survice_area .btn{
    padding: 20px 60px;
    background-color: #fff;
    border: 0.5px solid;
    font-size: 19px;
}
.survice_area .btn:hover{
    background-color: rgb(254, 123, 0);
    color: #fff;
}
/* bottom content css*/
.bottom_content{
    display: flex;
    justify-items: center;
    align-items: center;
}
.half_width{
    width: 50%;
    height: 700px;
}
.philosophy img{
    width: 100%;
    height: 100%;
}
.text_top{
    background-color: rgba(1, 94, 20, 0.095);
    padding: 40px;
}
.text_top h2{
    text-align: center;
    margin:50px 0;
}
.text_top p{
    font-size: 17px;
    line-height: 27px;
    text-align: justify;
}
.text_top .btn{
    padding: 20px 60px;
    background-color: #fff;
    border: 0.5px solid;
    font-size: 16px;
    margin-top: 90px;
    margin-left: 125px;
}
/*therapy Mind css*/
.therapy{
    padding: 120px 0;
    background-color: #355b413c;
}
.therapy h2{
    font-size: 50px;
    letter-spacing: 7px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
/* footer css*/
.footer{
    padding: 50px 0;
    background-color: #6401013a;
    display: flex;
    align-items: center;
   
}
.footer .logo img{
    height: 80px;
    width: 80px;
    margin-left: 50px;
}
.menue ul{
    display: flex;
    margin-left: 50px;
    justify-content: right;
    margin-left: 200px;

}
.menue ul li{
    list-style-type: none;
    margin-left: 50px;
}
.menue ul li a{
    text-decoration: none;
    font-size: 15px;
    color: #0f0f0fc9;
    text-align: right;
}
